body {
	font-family: sans-serif;
}

.container {
	max-width: 1024px;
	margin: auto;
}

.vmodal {
}

.vmodal.open .modal-overlay,
.vmodal.open .modal {
	opacity: 1;
	z-index: 200;
}

.vmodal.hide .modal-overlay,
.vmodal.hide .modal {
	opacity: 1;
	z-index: 200;
}

.vmodal.open .modal {
	transform: translateY(50%);
}
.vmodal.open .modal-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.vmodal.hide .modal {
	transform: translateY(-100%);
}
.vmodal.hide .modal-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal,
.modal-overlay {
	opacity: 0;
	z-index: -1;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: background 0.2s ease-in;
}
.modal {
	margin: 0 auto;
	padding: 20px;
	max-width: 400px;
	border-radius: 8px;
	transition: transform 0.3s ease-in;
	transform: translateY(-100%);
	background-color: rgb(120, 120, 146);
	&__title-bc {
		display: flex;
		align-items: flex-;
		justify-content: space-between;
		border-bottom: 1px solid rgb(140, 140, 168);
		span {
			display: flex;
			justify-content: center;
			align-self: center;
			font-size: 30px;
			font-weight: 600;
			cursor: pointer;
			color: rgb(208, 198, 214);
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: rgb(78, 78, 95);
			transition: 0.3s;
			&:hover {
				background-color: rgb(57, 57, 70);
			}
		}
	}
	&__title {
		font-size: 45px;
		padding: 0;
		margin: 0;
	}
	&__content {
		font-size: 20px;
		p {
			color: rgb(212, 201, 228);
		}
	}
}
